window-rule {

  // global transparency
  opacity 0.85

  background-effect {
    blur true
    xray false
  }
}

blur {
  passes 3        // more passes = stronger blur (default: 3)
  offset 3.0      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.0  // color saturation boost (default: 1.5)
}



/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  Noctalia publishes blur regions automatically when ext-background-effects is available.
*/
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

/* Enable blur on noctalia's window switcher and disable xray. */
layer-rule {
    match namespace="noctalia-window-switcher"
    background-effect {
        blur true
        xray false
    }
}


